h1 {
    font-family: "Press Start 2P", "Brush Script MT", "Lucida Handwriting", cursive;
    font-size: 5em;
    text-align: center;
    margin: 0.7em;
    color: black;
}

body {
    justify-content: center;
}

p {
    font-family: "VT323", 'Times New Roman', Times, serif;
    font-size: 23pt;
    text-align: left;
}

div {
    border: 0px;
    width: 100%;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    height: 0px;
}

#workspaceDiv{
    display: flex;
    flex-wrap: nowrap;
    width: 600px;
    justify-content: center;
}

#leftDiv {
    float: left;
    padding: 1%;
    width: 150px;
}

#middleDiv {
    float: left;
    padding: 0;
    width: 100%;
    max-width: 514px;
    height: 100%;
    max-height: 514px;
    text-align: center;
    font-size: 0.5em;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

#rightDiv {   
    float: left;
    padding: 1%;
    width: 150px;
}


#gridDiv {
    display: flex;
    flex-wrap: nowrap;
    width: 512px;
    height: 512px;
    border: 0.5px solid black;
    padding: 0;
}

.cell {
    border: 0.5px solid black;
    background-color: 009900;
    padding: 0.3px;
    height: 23px;
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 9px;
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
